{% extends "layout.html" %}
{% block title %}
Homepage
{% endblock %}

{% block content %}
<h1 class="bg-blue-400 text-3xl">Chai aur Code | Homepage </h1>
{% comment %} <div class="w-60 bg-orange-500">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, laborum sapiente facilis amet ratione iusto minus molestiae reiciendis in nesciunt odio recusandae facere distinctio ut ipsa, quas delectus, explicabo officiis quia adipisci est veniam? Est incidunt voluptas repellendus amet. officiis maiores velit, laboriosam at recusandae officia iure tempore rem laborum!
</div> {% endcomment %}
{% endblock %}