body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #000;
    text-align: center;
}
h2 {
    color: #a72051;
    margin-top: 30px;
}
p {
    line-height: 1.6;
    color: ;
}
.mission, .vision, .values {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    width: 82rem;
    flex-direction: column;
    margin: 2rem auto;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    width: 50rem;
    margin: 0 auto;
    height: auto;
}
label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #218838;
}